# ----------------------------------------
# Build artifacts (C / C++)
# ----------------------------------------
*.o
*.obj
*.lo
*.la
*.a
*.so
*.dll
*.dylib
*.lib

# Executables
a.out
*.exe
*.out
*.app

# Debug files
*.dSYM/

# ----------------------------------------
# Build system directories
# ----------------------------------------
# CMake
build/
build-debug/
build-release/

# ----------------------------------------
# macOS specific
# ----------------------------------------
.DS_Store

# macOS build products (Xcode / CLTools)
*.xcworkspace
*.xcodeproj/*
*.xcodeproj
*.xcuserdata/
*.xcuserstate

# VSCode
.vscode/
